@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.question-title {
    color: #07248d;
}

@include media-breakpoint-up(md) {
    .question-panel {
        width: 600px;
    }

    .question-box {
        width: 400px;
        margin: auto;
    }
}

.dimension-caption {
    width: 8em;
}

.dimension-item {
    height: 2.5em;

    td.dimension-bar {
        width: 100%;

        &>div {
            height: 0.7em;
            background-color: #f1f1f1;
        }

        .active {
            background-color: #bd00bd;
        }
    }
}

.loader {
    left: 0;
    top: 50%;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 9;
}
